################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/csharp/jarin-whatsapp-csharp/bin/Debug
/csharp/jarin-whatsapp-csharp/obj
